:root {

  --bege: #E6E0D6;
  --preto: #000000;
  --marrom-escuro: #816D4F;
  --marrom-claro: #B29463;
  --font-principal:  'Barlow', sans-serif;

}

body {
  font-family: var(--font-principal);
  overflow-x: hidden;

}

[data-bs-theme="dark"]{
  color:white;
  .nav-link, .card-body,.btn-primary, offcanvas, .accordion{
    --bs-nav-link-color:white;
    --bs-card-color:white;
    --bs-btn-hover-bg: var(--marrom-escuro);
    --bs-btn-hover-color: black;
    --bs-btn-hover-border-color: var(--marrom-escuro);
    --bs-btn-active-border-color: var(--marrom-claro);
    --bs-body-color: white;
    --bs-offcanvas-color: white;
  }
  .botao-padrao{
    color: black;
    background-color: var(--marrom-claro);
    border-color: var(--marrom-claro);
  }
  .botao-padrao:hover{
    color: black;
    background-color: var(--marrom-escuro);
    border-color: var(--marrom-escuro);
  }

}


input[type=checkbox]{
  border: 2px solid var(--marrom-claro);
  box-shadow: none;
}
input[type=checkbox]:checked,
input[type="checkbox"]:focus {
  background-color: var(--marrom-claro);
  border-color: var(--marrom-claro);
  box-shadow: none;
  outline: none;
}

.banners{
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.banner-1{
 background-image: url(/assets/banner-1.png);
}
.banner-2{
  background-image: url(/assets/banner-2.png);
 }
 .banner-3{
  background-image: url(/assets/banner-3.png);
 }
.banners-titulo{
  --bs-bg-opacity: 0.2;
}
.bttn{
  background-color: var(--marrom-claro);
  color: var(--preto);
  border-radius: 5;
  width: 100%;
}
.botao-padrao{
  background-color: var(--marrom-claro);
}
.botao-padrao:hover{
  background-color: var(--marrom-escuro);
}
